
.user-img {
    width: 60px;
    border-radius: 50px;
}
.info-div {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.grey {
    color: black;
}
.data-container {
    background-color: #CBC3D5;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.single-data {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.break-btn {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: black;
    font-weight: 900  ;
    cursor: pointer;
}

.btn-container{
    background-color: #CBC3D5;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    padding: 10px 0;
    margin: 0 10px;
}

.color {
    background-color: #CBC3D5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px 10px;
}
.complete-btn {
    display: block;
    border: none;
    border-radius: 5px;
    background-color: red;
color: white;
font-size: medium;
font-weight: bold;
padding: 10px 15px;
width: 80%;
margin: 40px auto;
}